.icon-caretleft:before {
  content: "\e90a";
}
.icon-caretright:before {
  content: "\e90b";
}
.icon-caretdown:before {
  content: "\e908";
}
.icon-caretup:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e906";
}
.icon-noeye:before {
  content: "\e907";
  color: #1e2449;
}
.icon-checksquare:before {
  content: "\e900";
}
.icon-diary:before {
  content: "\e901";
}
.icon-group:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e903";
}
.icon-logout:before {
  content: "\e904";
}
.icon-upload:before {
  content: "\e905";
}
